body, html {}

header {
    background-color: #444444;
    height: 130px;
}

header div {
    padding-top: 20px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: rgba(255, 68, 0, 0.739);
    font-size: 40px;
    
}

header div nav {
    display: inline;
    justify-content: space-between;
    font-size: 20px;
    text-align:center;
    color: rgb(243, 243, 243);
    font-family: 'Pacifico', cursive;
}
.nav{
    padding-right: 800px;
    
}
 section {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: black;
}
hr{
    
    width: 75%;
    height: 10px;
}
 .navMain{
    margin-left: 30px;
    text-align: center;
    padding: 20px;
    font-family: 'Pacifico', cursive;
   color: white;
    font-size: 30px;
    width: 220px;
    background-color: rgba(255, 68, 0, 0.356);
    border-radius: 10px;
}

main nav p{
    display: inline;
    font-family:fantasy;
    font-size: 25px;
}
